In [8]:
import pandas as pd
import os

In [15]:
main_df = pd.read_csv("cleaned_files/alunos_por_escolaridade_clean.csv")
df_2 = pd.read_csv("cleaned_files/alunos_ensino_superior_clean.csv")
df_3 = pd.read_csv("cleaned_files/alunos_ensino_secundario_por_oferta.csv")
df_4 = pd.read_csv("cleaned_files/proporcao_CT_ensino_superior.csv")
df_5 = pd.read_csv("cleaned_files/students_per_computer.csv")
df_6 = pd.read_csv("cleaned_files/students_per_psychologist.csv")

In [32]:
#joined_1 = main_df.join(df_2, on=["year", "region"], how="inner")
main = pd.merge(main_df, df_2, left_on=["year", "region"], right_on=["year", "region"], how="left")

In [33]:
main = pd.merge(main, df_3, left_on=["year", "region"], right_on=["year", "region"], how="left")

In [35]:
main = pd.merge(main, df_4, left_on=["year", "region"], right_on=["year", "region"], how="left")

In [37]:
main = pd.merge(main, df_5, left_on=["year", "region"], right_on=["year", "region"], how="left")

In [39]:
main = pd.merge(main, df_6, left_on=["year", "region"], right_on=["year", "region"], how="left")

In [40]:
main.head()

,year,region,kindergarten_public,kindergarten_private,1-4_gr_public,1_4_gr_private,5_6_gr_public,5_6_gr_private,7_9_gr_public,7_9_gr_private,...,10_12_private_professional_CP,10_12_private_professional_AC,10_12_private_education,10_12_private_vocational,proportion_STEM_higher_ed,1_4_gr_students_per_computer,5_6_gr_students_per_computer,7_9_gr_students_per_computer,10_12_gr_students_per_computer,1_12_gr_public_students_per_psychologist
0,2020 / 2021,Portugal,135372.0,115688.0,322736.0,50373.0,185020.0,25044.0,301866.0,41003.0,...,47100.0,10952.0,109.0,NaN,29.1,NaN,NaN,NaN,NaN,NaN
1,2020 / 2021,Continente,128029.0,110589.0,306605.0,47173.0,175285.0,24232.0,284977.0,39758.0,...,44061.0,10952.0,NaN,NaN,29.2,1.9,1.7,1.9,2.2,744.1
2,2020 / 2021,Norte,47662.0,34890.0,105095.0,13873.0,61718.0,7550.0,101157.0,13356.0,...,15547.0,6256.0,NaN,NaN,29.9,1.8,1.6,1.8,2.0,759.9
3,2020 / 2021,Alto Minho,3408.0,1612.0,6684.0,273.0,3859.0,168.0,6227.0,432.0,...,1047.0,318.0,NaN,NaN,29.0,1.9,1.5,1.5,1.8,856.5
4,2020 / 2021,Arcos de Valdevez,188.0,179.0,529.0,NaN,270.0,2.0,492.0,19.0,...,85.0,NaN,NaN,NaN,NaN,1.9,1.5,1.5,1.3,NaN

In [41]:
main.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23676 entries, 0 to 23675
Data columns (total 38 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   year                                      23676 non-null  object
 1   region                                    23676 non-null  object
 2   kindergarten_public                       19018 non-null  float64
 3   kindergarten_private                      18383 non-null  float64
 4   1-4_gr_public                             19033 non-null  float64
 5   1_4_gr_private                            14738 non-null  float64
 6   5_6_gr_public                             19003 non-null  float64
 7   5_6_gr_private                            14613 non-null  float64
 8   7_9_gr_public                             18996 non-null  float64
 9   7_9_gr_private                            15376 non-null  float64
 10  10_12_gr_public                           18458 non-null  float64
 11  10_12_gr_private                          16004 non-null  float64
 12  professional_certification_public         6952 non-null   float64
 13  professional_certification_private        4257 non-null   float64
 14  public_university                         16114 non-null  float64
 15  public_polytechnic                        16330 non-null  float64
 16  private_university                        2371 non-null   float64
 17  private_polytechnic                       9047 non-null   float64
 18  10_12_public_science_humanities           18190 non-null  float64
 19  10_12_public_technology                   4751 non-null   float64
 20  10_12_public_artistic                     1608 non-null   float64
 21  10_12_public_professional_CP              16177 non-null  float64
 22  10_12_public_professional_AC              12406 non-null  float64
 23  10_12_public_education                    6864 non-null   float64
 24  10_12_public_vocational                   931 non-null    float64
 25  10_12_private_science_humanities          18190 non-null  float64
 26  10_12_private_technology                  4751 non-null   float64
 27  10_12_private_artistic                    1608 non-null   float64
 28  10_12_private_professional_CP             16177 non-null  float64
 29  10_12_private_professional_AC             12406 non-null  float64
 30  10_12_private_education                   6864 non-null   float64
 31  10_12_private_vocational                  931 non-null    float64
 32  proportion_STEM_higher_ed                 17474 non-null  float64
 33  1_4_gr_students_per_computer              5960 non-null   float64
 34  5_6_gr_students_per_computer              5963 non-null   float64
 35  7_9_gr_students_per_computer              5964 non-null   float64
 36  10_12_gr_students_per_computer            5646 non-null   float64
 37  1_12_gr_public_students_per_psychologist  2377 non-null   float64
dtypes: float64(36), object(2)
memory usage: 7.0+ MB

In [43]:
main.to_csv("main.csv")